In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow import keras
from keras import layers

In [3]:
data = pd.read_csv('/content/sample_data/framingham.csv')

In [4]:
# preprocess the data

# check missing values
print("Percentage of Missing Values in Dataset")
print(data.isna().sum()/len(data)*100)

cleanData = data.dropna(axis=0)

Percentage of Missing Values in Dataset
male               0.000000
age                0.000000
education          2.476415
currentSmoker      0.000000
cigsPerDay         0.683962
BPMeds             1.250000
prevalentStroke    0.000000
prevalentHyp       0.000000
diabetes           0.000000
totChol            1.179245
sysBP              0.000000
diaBP              0.000000
BMI                0.448113
heartRate          0.023585
glucose            9.150943
TenYearCHD         0.000000
dtype: float64

In [14]:
# extract input features and output
X_data = cleanData.iloc[:,0:-1]
y_data = cleanData.iloc[:,-1]
y_data

0       0
1       0
2       0
3       1
4       0
       ..
4233    1
4234    0
4237    0
4238    0
4239    0
Name: TenYearCHD, Length: 3658, dtype: int64

In [6]:
# split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.3, random_state=42)

In [7]:
model = keras.Sequential(
    [
     keras.Input(X_data.shape[1]),
     layers.Dense(128, activation='relu'),
     layers.Dense(64, activation='relu'),
     layers.Dense(1)
    ]
)

In [8]:
model.compile(
    loss = keras.losses.BinaryCrossentropy(from_logits=True),
    optimizer = keras.optimizers.Adam(learning_rate=0.01),
    metrics=['accuracy']
)

In [16]:
model.fit(X_train, y_train, batch_size=128, verbose=2, epochs=10)

Epoch 1/10
20/20 - 0s - loss: 0.4233 - accuracy: 0.8527 - 76ms/epoch - 4ms/step
Epoch 2/10
20/20 - 0s - loss: 0.4152 - accuracy: 0.8520 - 73ms/epoch - 4ms/step
Epoch 3/10
20/20 - 0s - loss: 0.4041 - accuracy: 0.8504 - 90ms/epoch - 5ms/step
Epoch 4/10
20/20 - 0s - loss: 0.3961 - accuracy: 0.8512 - 74ms/epoch - 4ms/step
Epoch 5/10
20/20 - 0s - loss: 0.4016 - accuracy: 0.8547 - 73ms/epoch - 4ms/step
Epoch 6/10
20/20 - 0s - loss: 0.4038 - accuracy: 0.8496 - 91ms/epoch - 5ms/step
Epoch 7/10
20/20 - 0s - loss: 0.4125 - accuracy: 0.8551 - 113ms/epoch - 6ms/step
Epoch 8/10
20/20 - 0s - loss: 0.4072 - accuracy: 0.8520 - 112ms/epoch - 6ms/step
Epoch 9/10
20/20 - 0s - loss: 0.3965 - accuracy: 0.8527 - 82ms/epoch - 4ms/step
Epoch 10/10
20/20 - 0s - loss: 0.4013 - accuracy: 0.8531 - 129ms/epoch - 6ms/step

In [10]:
model.evaluate(X_test, y_test, batch_size=32, verbose=2)

35/35 - 0s - loss: 0.4132 - accuracy: 0.8406 - 176ms/epoch - 5ms/step

[0.4131655991077423, 0.8406193256378174]

In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow import keras
from keras import layers

In [18]:
data = pd.read_csv('/content/sample_data/framingham.csv')

x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [19]:
clean = data.dropna(axis=0)

In [26]:
x = clean.iloc[:,:-1]
y = clean.iloc[:,-1]
x

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
model = keras.Sequential(    
    [
        keras.Input(x.shape[1]),
        layers.Dense(128,activation='relu'),
        layers.Dense(64,activation='relu'),
        layers.Dense(1)
    ]
)

In [31]:
model.compile(
    loss = keras.losses.BinaryCrossentropy(from_logits=True),
    optimizer = keras.optimizers.Adam(learning_rate=0.01),
    metrics = ['accuracy']
)

In [32]:
model.fit(x_train,y_train,batch_size=128,verbose=2,epochs=10)

Epoch 1/10
23/23 - 1s - loss: 1.8379 - accuracy: 0.7884 - 985ms/epoch - 43ms/step
Epoch 2/10
23/23 - 0s - loss: 0.4767 - accuracy: 0.8428 - 64ms/epoch - 3ms/step
Epoch 3/10
23/23 - 0s - loss: 0.4384 - accuracy: 0.8520 - 66ms/epoch - 3ms/step
Epoch 4/10
23/23 - 0s - loss: 0.4341 - accuracy: 0.8503 - 71ms/epoch - 3ms/step
Epoch 5/10
23/23 - 0s - loss: 0.4570 - accuracy: 0.8510 - 74ms/epoch - 3ms/step
Epoch 6/10
23/23 - 0s - loss: 0.4127 - accuracy: 0.8520 - 67ms/epoch - 3ms/step
Epoch 7/10
23/23 - 0s - loss: 0.4127 - accuracy: 0.8520 - 65ms/epoch - 3ms/step
Epoch 8/10
23/23 - 0s - loss: 0.4027 - accuracy: 0.8510 - 76ms/epoch - 3ms/step
Epoch 9/10
23/23 - 0s - loss: 0.4064 - accuracy: 0.8517 - 78ms/epoch - 3ms/step
Epoch 10/10
23/23 - 0s - loss: 0.4047 - accuracy: 0.8517 - 73ms/epoch - 3ms/step

In [34]:
model.evaluate(x_test,y_test,batch_size=128,verbose=2)

6/6 - 0s - loss: 0.4159 - accuracy: 0.8388 - 42ms/epoch - 7ms/step

[0.41590365767478943, 0.8387978076934814]